body {
    font-family: sans-serif;
}

#charts-container {
    margin-top: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
}

#buttons-container {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

button {
    min-height: 30px; 
    min-width: 120px;
    margin-left: 30px;
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
}
